section.Advantages
  .container
    .Advantages-boxes
      .Advantages-boxes-box
        h5.Advantages-boxes-box-title New deals listed daily for every budget!
        span.Advantages-boxes-box-note No booking fees / Save money! 
          a We Price Match
      .Advantages-boxes-box
        h5.Advantages-boxes-box-title <span>1,490,411</span> properties worldwide
        span.Advantages-boxes-box-note Including 829,668 holiday rentals in 121,734 destinations in 229 countries 
          a List your property
      .Advantages-boxes-box
        h5.Advantages-boxes-box-title Make changes to your booking, anytime
        span.Advantages-boxes-box-note You can make changes,
          a send a request or cancel </a> in just a few clicks
            
      

