section.Aparthotels
  .container
    h3.Discover-title Aparthotels
    .Aparthotels-items
      .Aparthotels-items-item
        .Aparthotels-items-item-top
          .Aparthotels-items-item-top-img(style="background-image: url(https://images.unsplash.com/photo-1560681610-68f081d2e7dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=270&q=80)")
          .Aparthotels-items-item-top-label 
            span 7.6 
            span good
        .Aparthotels-items-item-bottom
          .Destinations-group-item-right-title
            h5 Mood of Galata Suites
          .Destinations-group-item-right-subtitle.Aparthotels-items-item-bottom-subtitle
            span İstanbul, Turkey
            span 203 reviews
          .Discover-items-item-text-description.Aparthotels-items-item-bottom-description
            p Offering a terrace, Mood of Galata Suites is located in İstanbul, 300 metres from Galata Tower ...
      .Aparthotels-items-item
        .Aparthotels-items-item-top
          .Aparthotels-items-item-top-img(style="background-image: url(https://images.unsplash.com/photo-1581404569456-a2e7007c3979?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=270&q=80)")
          .Aparthotels-items-item-top-label
            span 8.9 
            span fabolous
        .Aparthotels-items-item-bottom
          .Destinations-group-item-right-title
            h5 A Palace Suites
          .Destinations-group-item-right-subtitle.Aparthotels-items-item-bottom-subtitle
            span İstanbul, Turkey
            span 442 reviews
          .Discover-items-item-text-description.Aparthotels-items-item-bottom-description
            p Featuring free WiFi and air conditioning, A Palace Suites is located in Istanbul, Cevahir ...
      .Aparthotels-items-item
        .Aparthotels-items-item-top
          .Aparthotels-items-item-top-img(style="background-image: url(https://images.unsplash.com/photo-1559599224-f1d3a48f1244?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=270&q=80)")
          .Aparthotels-items-item-top-label
            span 9.6 
            span exceptional
        .Aparthotels-items-item-bottom
          .Destinations-group-item-right-title
            h5 Witt Istanul Suites
          .Destinations-group-item-right-subtitle.Aparthotels-items-item-bottom-subtitle
            span İstanbul, Turkey
            span 232 reviews
          .Discover-items-item-text-description.Aparthotels-items-item-bottom-description
            p Situated in the Cihangir district, Witt Istanbul Suites offers luxurious rooms and a peaceful terrace ...
      .Aparthotels-items-item
        .Aparthotels-items-item-top
          .Aparthotels-items-item-top-img(style="background-image: url(https://images.unsplash.com/photo-1560067174-c5a3a8f37060?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=270&q=80)")
          .Aparthotels-items-item-top-label
            span 8.6 
            span fabulous
        .Aparthotels-items-item-bottom
          .Destinations-group-item-right-title
            h5 Maslak Istanbul
          .Destinations-group-item-right-subtitle.Aparthotels-items-item-bottom-subtitle
            span İstanbul, Turkey
            span 4.563 reviews
          .Discover-items-item-text-description.Aparthotels-items-item-bottom-description
            p Featuring free WiFi and air conditioning, Somerset Maslak Istanbul is situated in Istanbul ...
    .button.button-blue.Aparthotels-button 
      .Aparthotels-button-text All aparthotels
      .Aparthotels-button-arrow
        a
          img(src="./img/expand-arrow.svg")

