section.Destinations
  .container
    h3.Destinations-title More destinations
    .Destinations-group
      .Destinations-group-item
        .Destinations-group-item-left
          div.Destinations-group-item-left-img(style="background-image: url(https://images.unsplash.com/photo-1549109786-eb80da56e693?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=90&q=80)")
        .Destinations-group-item-right
          .Destinations-group-item-right-title
            h5 Playa d'en Bossa
          .Destinations-group-item-right-subtitle
            span Spain
            span TOP
          .Destinations-group-item-right-description
            span 24 apartments, 10 aparthotels, 2 villas
          .Destinations-group-item-right-button
            a
              img(src="./img/expand-arrow.svg")
      .Destinations-group-item
        .Destinations-group-item-left
          div.Destinations-group-item-left-img(style="background-image: url(https://images.unsplash.com/photo-1506190503914-c7c7a69d4ce5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=90&q=80)")
        .Destinations-group-item-right
          .Destinations-group-item-right-title
            h5 Santa Eularia des Riu
          .Destinations-group-item-right-subtitle
            span Spain
          .Destinations-group-item-right-description
            span 37 villas, 21 apartments, 6 guest houses, 5 aparthotels
          .Destinations-group-item-right-button
            a
              img(src="./img/expand-arrow.svg")
      .Destinations-group-item
        .Destinations-group-item-left
          div.Destinations-group-item-left-img(style="background-image: url(https://images.unsplash.com/photo-1558180077-09f158c76707?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=90&q=80)")
        .Destinations-group-item-right
          .Destinations-group-item-right-title
            h5 İstanbul
          .Destinations-group-item-right-subtitle
            span Turkey
            span TOP
          .Destinations-group-item-right-description
            span 476 apartments, 243 aparthotels, 56 bed and breakfasts, 54 hostels
          .Destinations-group-item-right-button
            a
              img(src="./img/expand-arrow.svg")
      .Destinations-group-item
        .Destinations-group-item-left
          div.Destinations-group-item-left-img(style="background-image: url(https://images.unsplash.com/photo-1511527661048-7fe73d85e9a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=90&q=80)")
        .Destinations-group-item-right
          .Destinations-group-item-right-title
            h5 Barcelona
          .Destinations-group-item-right-subtitle
            span Spain
            span TOP
          .Destinations-group-item-right-description
            span 1944 apartments, 259 guest houses, 111 hotels, 53 bed and breakfasts
          .Destinations-group-item-right-button
            a
              img(src="./img/expand-arrow.svg")
      .Destinations-group-item
        .Destinations-group-item-left
          div.Destinations-group-item-left-img(style="background-image: url(https://images.unsplash.com/photo-1573167443175-867d91708f97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=90&q=80)")
        .Destinations-group-item-right
          .Destinations-group-item-right-title
            h5 Vienna
          .Destinations-group-item-right-subtitle
            span Austria
            span TOP
          .Destinations-group-item-right-description
            span 1171 apartments, 44 guest houses, 38 aparthotes, 34 bed and breakfasts
          .Destinations-group-item-right-button
            a
              img(src="./img/expand-arrow.svg")
      .Destinations-group-item
        .Destinations-group-item-big
          .Destinations-group-item-big-button.button.button-full Show me all destinations
          .Destinations-group-item-big-arrow
           a
             img(src="./img/expand-arrow.svg")