.Discover
  .container
    h3.Discover-title Discover
    .Discover-items
      .Discover-items-item
        .Discover-items-item-cover
          .Discover-items-item-cover-img(style="background-image: url(https://images.unsplash.com/photo-1515112102038-7899a6b9db83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=270&q=80)")
        .Discover-items-item-text
          .Discover-items-item-text-title
            h5 United States
          .Discover-items-item-text-description
            p Enjoy relaxation, shopping and restaurants during your next trip to USA!
      .Discover-items-item
        .Discover-items-item-cover
          .Discover-items-item-cover-img(style="background-image: url(https://images.unsplash.com/photo-1523906834658-6e24ef2386f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=270&q=80)")
        .Discover-items-item-text
          .Discover-items-item-text-title
            h5 Italy
          .Discover-items-item-text-description
            p Enjoy food, scenery and relaxation during your next trip to Italy!
      .Discover-items-item
        .Discover-items-item-cover
          .Discover-items-item-cover-img(style="background-image: url(https://images.unsplash.com/photo-1515859033836-a0a913c0f94a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=270&q=80)")
        .Discover-items-item-text
          .Discover-items-item-text-title
            h5 France
          .Discover-items-item-text-description
            p Put tranquility, scenery and old town on your to-do list during your next visit to France
      .Discover-items-item
        .Discover-items-item-cover
        .Discover-items-item-text
          .Discover-items-item-text-title
            h5 More
          .Discover-items-item-text-description
            svg.icon.icon-circle-right.Discover-items-item-text-description-arrow
              use(xlink:href="#icon-circle-right")
            p Put tranquility, scenery and old town on your to-do list during your next visit to France!