section.Footer
  .container
    .Footer-top
      a(href="").Footer-top-link Your account
      a(href="").Footer-top-link Make changes to your booking online
      a(href="").Footer-top-link Customer Service help
      a(href="").Footer-top-link Become an affiliate
      a(href="").Footer-top-link Booking.com for Business
      a(href="").Footer-top-link List your property
    .Footer-main
      .Footer-main-left
        .Footer-main-left-part
          a(href="").Footer-main-left-part-link Countries
          a(href="").Footer-main-left-part-link Regions
          a(href="").Footer-main-left-part-link Cities
          a(href="").Footer-main-left-part-link Districts
          a(href="").Footer-main-left-part-link Airports
        .Footer-main-left-part
          a(href="").Footer-main-left-part-link Holiday rentals
          a(href="").Footer-main-left-part-link Apartments
          a(href="").Footer-main-left-part-link Resorts
          a(href="").Footer-main-left-part-link Villas
          a(href="").Footer-main-left-part-link Hostels
        .Footer-main-left-part
          a(href="").Footer-main-left-part-link All property types
          a(href="").Footer-main-left-part-link All themes
          a(href="").Footer-main-left-part-link All destinations
          a(href="").Footer-main-left-part-link Reviews
          a(href="").Footer-main-left-part-link Travel articles
        .Footer-main-left-part
          a(href="").Footer-main-left-part-link Car hire
          a(href="").Footer-main-left-part-link Flight finder
          a(href="").Footer-main-left-part-link Restaurant reservations
          a(href="").Footer-main-left-part-link Seek&amp;Go
          a(href="").Footer-main-left-part-link For Travel Agents
        .Footer-main-left-part
          a(href="").Footer-main-left-part-link About Booking.com
          a(href="").Footer-main-left-part-link Press centre
          a(href="").Footer-main-left-part-link Terms &amp; Conditions
          a(href="").Footer-main-left-part-link Privacy &amp; Cookies
          a(href="").Footer-main-left-part-link Contact us
      .Footer-main-right
        .Footer-main-right-icons
          a(href="").Showcase-store-link.Footer-main-right-icons-store
            img(src="./img/apple.svg")
          a(href="").Showcase-store-link.Footer-main-right-icons-store
            img(src="./img/google.svg")
        .Footer-main-right-text
          p Booking.com B.V. is bassed in Amsterdam in the Netherlands, and is supported internationally by <span>204 offices in 70 countries.</span>
    .Footer-bottom
      p Copyright &copy; 1996-2017 Booking.com&trade;. All rights reserved.
