section.Highlights
  .container
    .Highlights-slider
      .Highlights-item
        .Highlights-item-show
          .img(style="background-image: url(https://images.unsplash.com/photo-1429497419816-9ca5cfb4571a?auto=format&fit=crop&w=400&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);")
          .content
            h4.title Paris
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums, sigtseeing, culture
        .Highlights-item-extra 
          .Highlights-item-extra-content
            .Highlights-item-extra-content-title
              a Still planning a trip to Paris? 
            .Highlights-item-extra-content-info
              span 
                strong 23 Oct - 24 Oct / 1 room, 2 adults
            .Highlights-item-extra-content-button
              .button-blue.button View properties
      .Highlights-item
        .Highlights-item-show
          .img(style="background-image: url(https://images.unsplash.com/photo-1535827841776-24afc1e255ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80);")
          .content
            h4.title New York
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums, sigtseeing, culture
        .Highlights-item-extra 
          .Highlights-item-extra-content
            .Highlights-item-extra-content-title
              a Still planning a trip to Paris? 
            .Highlights-item-extra-content-info
              span 
                strong 23 Oct - 24 Oct / 1 room, 2 adults
            .Highlights-item-extra-content-button
              .button-blue.button View properties
      .Highlights-item
        .Highlights-item-show
          .img(style="background-image: url(https://images.unsplash.com/photo-1552515721-216a4c25c5fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80);")
          .content
            h4.title Rome
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums, sigtseeing, culture
        .Highlights-item-extra 
          .Highlights-item-extra-content
            .Highlights-item-extra-content-title
              a Still planning a trip to Paris? 
            .Highlights-item-extra-content-info
              span 
                strong 23 Oct - 24 Oct / 1 room, 2 adults
            .Highlights-item-extra-content-button
              .button-blue.button View properties
      .Highlights-item
        .Highlights-item-show
          .img(style="background-image: url(https://images.unsplash.com/photo-1439130490301-25e322d88054?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80);")
          .content
            h4.title Barcelona
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums, sigtseeing, culture
        .Highlights-item-extra 
          .Highlights-item-extra-content
            .Highlights-item-extra-content-title
              a Still planning a trip to Paris? 
            .Highlights-item-extra-content-info
              span 
                strong 23 Oct - 24 Oct / 1 room, 2 adults
            .Highlights-item-extra-content-button
              .button-blue.button View properties
      .Highlights-item
        .Highlights-item-show
          .img(style="background-image: url(https://images.unsplash.com/photo-1454388683759-ee76c15fee26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80);")
          .content
            h4.title Budapest
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums, sigtseeing, culture
        .Highlights-item-extra 
          .Highlights-item-extra-content
            .Highlights-item-extra-content-title
              a Still planning a trip to Paris? 
            .Highlights-item-extra-content-info
              span 
                strong 23 Oct - 24 Oct / 1 room, 2 adults
            .Highlights-item-extra-content-button
              .button-blue.button View properties
      .Highlights-item
        .Highlights-item-show
          .img(style="background-image: url(https://images.unsplash.com/photo-1492691704634-0fe43e322381?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80);")
          .content
            h4.title Berlin
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums, sigtseeing, culture
        .Highlights-item-extra 
          .Highlights-item-extra-content
            .Highlights-item-extra-content-title
              a Still planning a trip to Paris? 
            .Highlights-item-extra-content-info
              span 
                strong 23 Oct - 24 Oct / 1 room, 2 adults
            .Highlights-item-extra-content-button
              .button-blue.button View properties
section(style="height: 2000px;")