section.Recommendation
  .container
    h3.third-title.Wheretostay-title Destinations we love
    .Wheretostay-content
      .Wheretostay-content-buttons
        .Recommendation-content-buttons-button.button.wheretostay-button Regions
        .Recommendation-content-buttons-button Cities
        .Recommendation-content-buttons-button Places of interest
      .Wheretostay-content-reviews
        .Wheretostay-content-reviews-review
          .Wheretostay-content-reviews-review-title Barcelona
          .Wheretostay-content-reviews-review-note 1,000,938 hotel reviews
        .Wheretostay-content-reviews-review
          .Wheretostay-content-reviews-review-title Barcelona
          .Wheretostay-content-reviews-review-note 1,000,938 hotel reviews
        .Wheretostay-content-reviews-review
          .Wheretostay-content-reviews-review-title Barcelona
          .Wheretostay-content-reviews-review-note 1,000,938 hotel reviews
        .Wheretostay-content-reviews-review
          .Wheretostay-content-reviews-review-title Barcelona
          .Wheretostay-content-reviews-review-note 1,000,938 hotel reviews
        .Wheretostay-content-reviews-review
          .Wheretostay-content-reviews-review-title Barcelona
          .Wheretostay-content-reviews-review-note 1,000,938 hotel reviews
        .Wheretostay-content-reviews-review
          .Wheretostay-content-reviews-review-title Barcelona
          .Wheretostay-content-reviews-review-note 1,000,938 hotel reviews
        .Wheretostay-content-reviews-review
          .Wheretostay-content-reviews-review-title Barcelona
          .Wheretostay-content-reviews-review-note 1,000,938 hotel reviews
        .Wheretostay-content-reviews-review
          .Wheretostay-content-reviews-review-title Barcelona
          .Wheretostay-content-reviews-review-note 1,000,938 hotel reviews
        .Wheretostay-content-reviews-review
          .Wheretostay-content-reviews-review-title Barcelona
          .Wheretostay-content-reviews-review-note 1,000,938 hotel reviews
        .Wheretostay-content-reviews-review
          .Wheretostay-content-reviews-review-title Barcelona
          .Wheretostay-content-reviews-review-note 1,000,938 hotel reviews

