section.Showcase
  .container
    h1.Showcase-title More deals than days in a year.
    h4.Showcase-subtitle
      | From cosy country homes to funky city flats
    .Search
      form.Search-form(action="")
        .Search-form-item
          .form-item
            svg.icon.icon-location2.form-item-icon
              use(xlink:href="#icon-location2")
            input.text(type="text" name="" id="" placeholder="Location")
          small Destination, property name or address
        .Search-form-item
          .form-item
            svg.icon.icon-calendar.form-item-icon
              use(xlink:href="#icon-calendar")
            input.text(type="date" name="" id="")
          small When
        .Search-form-item
          .form-item
            .select
              svg.icon.icon-user.form-item-icon
                use(xlink:href="#icon-user")
              select(name="" id="")
                option(value="") asd
          small dummy
        .Search-form-item
          .for-work
            label.form-checkbox(for="check")
              | Are you travelling for work?
              .checkbox
                input#check(type="checkbox" name="")
                svg.icon.icon-checkmark
                  use(xlink:href="#icon-checkmark")
          button.button.button-blue.button-full(type="button")
            | Let's get started
    .Showcase-subtitles
      a.Showcase-subtitles-item(href="") Find deals
      a.Showcase-subtitles-item(href="") Travel guides
      a.Showcase-subtitles-item(href="") How was your stay?
      a.Showcase-subtitles-item(href="") Holiday rentals
      a.Showcase-subtitles-item(href="") for Business

    .Showcase-store
      a(href="", class="Showcase-store-link")
        img(src="./img/apple.svg", alt="")
      a(href="", class="Showcase-store-link")
        img(src="./img/google.svg", alt="")

    .Showcase-highlights
      .Showcase-highlights-item
        
