section.Signup
  .container
    h3.third-title.Signup-title Save time, save money!
    p.Signup-note Sign up and we'll send the best deals to you
    .Signup-inputarea
      input(type="mail").text.Signup-inputarea-input
      button.button.button-blue.Signup-inputarea-button Subscribe
    .checkbox.Signup-checkboxarea
      input(id="checkemail" type="checkbox").Signup-checkboxarea-input
      svg.icon.icon-checkmark
        use(xlink:href="#icon-checkmark")
      label(for="checkemail").Signup-checkboxarea-note Send me a linkt to get the FREE Booking.com app!