section.Support
  .container
    .Support-items
      .Support-items-item
        .Support-items-item-icon
          svg.icon.icon-bubble2
            use(xlink:href="#icon-bubble2")
        .Support-items-item-main
          .Support-items-item-main-title
            span.Support-items-item-main-title-number 131,130,000
            span.Support-items-item-main-title-text revirews
          .Support-items-item-main-description
            p Real guests. Real stays. Real opinions to help you make the right choice.
      .Support-items-item
        .Support-items-item-icon
          svg.icon.icon-lifebuoy
            use(xlink:href="#icon-lifebuoy")
        .Support-items-item-main
          .Support-items-item-main-title
            span.Support-items-item-main-title-text We're here to help
            span.Support-items-item-main-title-number 24/7
          .Support-items-item-main-description
            p Find answers, manage your booking and more in our <span>Help Centre</span>.