section.Wheretostay
  .container
    h3.third-title.Wheretostay-title Still deciding where to stay ?
    .Wheretostay-content
      p.Wheretostay-content-subtitle We want to make your decision easier! With over 131,150,000 verified guest reviews, we can help you find the perfect place to stay.
      .Wheretostay-content-buttons
        .Wheretostay-content-buttons-button.button.wheretostay-button Hotel reviews
        .Wheretostay-content-buttons-button B&amp;B &amp; in reviews
        .Wheretostay-content-buttons-button Holiday rental reviews
      .Wheretostay-content-reviews
        .Wheretostay-content-reviews-review
          .Wheretostay-content-reviews-review-title Edinburgh
          .Wheretostay-content-reviews-review-note 283,435 hotel reviews
        .Wheretostay-content-reviews-review
          .Wheretostay-content-reviews-review-title Barcelona
          .Wheretostay-content-reviews-review-note 1,000,938 hotel reviews
        .Wheretostay-content-reviews-review
          .Wheretostay-content-reviews-review-title Sydney
          .Wheretostay-content-reviews-review-note 309,780 hotel reviews
        .Wheretostay-content-reviews-review
          .Wheretostay-content-reviews-review-title Sydney
          .Wheretostay-content-reviews-review-note 309,780 hotel reviews
        .Wheretostay-content-reviews-review
          .Wheretostay-content-reviews-review-title Sydney
          .Wheretostay-content-reviews-review-note 309,780 hotel reviews
        .Wheretostay-content-reviews-review
          .Wheretostay-content-reviews-review-title Bristol
          .Wheretostay-content-reviews-review-note 74,345 hotel reviews
        .Wheretostay-content-reviews-review
          .Wheretostay-content-reviews-review-title Rome
          .Wheretostay-content-reviews-review-note 1,222,001 hotel reviews
        .Wheretostay-content-reviews-review
          .Wheretostay-content-reviews-review-title Manchester
          .Wheretostay-content-reviews-review-note 194,347 hotel reviews
        .Wheretostay-content-reviews-review
          .Wheretostay-content-reviews-review-title Manchester
          .Wheretostay-content-reviews-review-note 1,000,938 hotel reviews
        .Wheretostay-content-reviews-review
          .Wheretostay-content-reviews-review-title Manchester
          .Wheretostay-content-reviews-review-note 1,000,938 hotel reviews

