.Showcase {
  .container {
    color: white;
  }
  background: $color-navy url(img/showcase_back.jpg) no-repeat center center /
    cover;
  padding-top: $gap;
  padding-bottom: $gap;
  z-index: 0;
  width: 100%;
  text-align: center;
  @include mq('tablet') {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &-title {
    @include mq('tablet') {
      font-size: 3.5em;
      margin-top: 50px;
    }
  }
  &-subtitle {
    margin-top: $gap;
    @include mq('tablet') {
      font-size: 1.2em;
    }
  }

  &-subtitles {
    display: none;
    @include mq('tablet') {
      display: block;
      width: 100%;
      margin-top: $gap;
    }

    &-item {
      color: inherit;
      font-size: $font-size-small;
      & + & {
        margin-left: $gap;
      }
    }
  }

  &-store {
    margin-top: $gap;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq('tablet') {
      margin-top: 50px;
      margin-bottom: 100px;
    }
    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
      margin-left: 5px;
      height: 45px;
      padding-left: $gap;
      padding-right: $gap;
      background-color: rgba(black, 0.15);
      border-radius: $border-radius;
      @include mq('tablet') {
        height: 50px;
      }
      &:hover {
        background-color: rgba(black, 0.3);
      }
      img {
        width: 90px;
        @include mq('tablet') {
          width: 110px;
        }
      }
    }
  }
}

.Search {
  z-index: 0;
  border-radius: $border-radius;
  background-color: $color-yellow;
  padding: 40px 20px;
  text-align: left;
  margin-top: $gap;
  box-shadow: 0 30px 60px rgba(black, 0.2);
  font-size: $font-size-small;

  @include mq('tablet') {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
  }
  &-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include mq('tablet') {
      display: flex;
      flex-direction: row;
    }

    &-item {
      position: relative;
      width: 100%;
      .button {
        margin-top: 25px;
        @include mq('tablet') {
          margin-top: initial;
        }
      }
      @include mq('tablet') {
        &:nth-child(1) {
          width: 40%;
        }
        &:nth-child(2) {
          width: 28%;
        }
        &:nth-child(3) {
          width: 20%;
        }
        &:nth-child(4) {
          width: 25%;
        }
      }
      & + & {
        margin-top: 10px;
        @include mq('tablet') {
          margin-left: 10px;
          margin-top: 0;
        }
      }
      small {
        display: inline-block;
        font-size: $font-size-small;
        font-weight: bold;
        @include mq('tablet') {
          margin-top: 20px;
        }
      }
    }
  }
}

.for-work {
  font-size: $font-size-small;
  position: absolute;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 250px;

  @include mq('tablet') {
    left: -60;
    margin-top: 20px;
  }
  .icon-exclamation {
    color: white;
    left: 0;
  }
  .checkbox {
    margin-left: 10px;
  }
}

.Highlights {
  margin-top: 35px;

  @include mq('tablet') {
    margin-top: -100px;
  }

  &-slider {
    .flickity-viewport {
      @include mq('tablet') {
        overflow: visible;
        height: 200px !important;
      }
    }
  }

  &-item {
    position: relative;
    background-color: white;
    height: 200px;
    margin-right: -20px;
    box-shadow: 0 5px 30px rgba(black, 0.1);

    @include mq('tablet') {
      width: 300px;
      margin-right: $gap;
    }

    &.is-expanded {
      @include mq('tablet') {
        width: 600px;
      }
    }

    &-show {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 20px;
      color: white;
      .img {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
      }

      .content {
        width: 300px;
        z-index: 1;
        position: relative;
        .tag {
          margin-top: 10px;
          &-list {
            a {
              pointer-events: none;
            }
          }
          h5 {
            color: $color-soft-white;
            margin-bottom: 2px;
          }
        }
      }

      &:before {
        z-index: 1;
        content: '';
        width: 300px;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background: linear-gradient(
          2.36deg,
          rgba(62, 174, 164, 0.3) 4.96%,
          rgba(139, 230, 194, 0.3) 97.31%
        );
      }
    }
    &-extra {
      display: none;
      @include mq('tablet') {
        top: 0;
        cursor: pointer;
        z-index: 2;
        width: 200px;
        position: absolute;
        left: calc(100% - 300px);
        width: 300px;
        height: 100%;
        right: 0;
        &.is-showed {
          display: block;
        }
      }

      &-content {
        @include mq('tablet') {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding-top: 45px;
          padding-left: $gap;
          &-title {
            font-weight: bold;
            color: $color-navy;
          }
          &-info {
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: $font-size-small;
          }
          &-button {
            .button {
              font-size: $font-size-small;
              padding: 23px;
            }
          }
        }
      }
    }
  }
}

.Advantages {
  &-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mq('tablet') {
      flex-direction: row;
      margin-top: $margin-between-desktop;
    }
    &-box {
      padding: 35px;
      @include mq('tablet') {
        &:nth-child(1) {
          width: 30%;
        }
        &:nth-child(2) {
          width: 40%;
        }
        &:nth-child(3) {
          width: 30%;
        }
      }
      @include mq('phone') {
        box-shadow: 0 40px 80px rgba(black, 0.1);
        margin-top: 35px;
      }
      &.add-shadow {
        box-shadow: 0 40px 80px rgba(black, 0.1);
      }
      &-title {
        font-size: $font-size;
        font-weight: bold;
        line-height: 1.4;
        color: $color-navy;
        span {
          color: $color-blue;
          font-size: 1.2em;
        }
      }
      &-note {
        display: inline-block;
        margin-top: 10px;
        font-size: $font-size-small;
        line-height: 1.5;
        a {
          text-decoration: underline;
          color: $color-blue;
        }
      }

      @include mq('tablet') {
        & + & {
          margin-left: $gap;
        }
      }
    }
  }
}

.Destinations {
  margin-top: $margin-between-mobile;
  @include mq('tablet') {
    margin-top: $margin-between-desktop;
  }
  &-title {
    font-size: $font-size-big;
    text-align: center;
    width: 100%;
    color: $color-navy;
  }
  &-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $margin-between-mobile-small;
    @include mq('tablet') {
      flex-wrap: wrap;
      flex-direction: row;
      margin-top: 50px;
    }
    &-item {
      position: relative;
      width: 100%;
      height: 100px;
      margin-top: $margin-between-mobile-small;
      @include mq('tablet') {
        width: 33%;
      }
      &-left {
        &-img {
          position: absolute;
          float: left;
          width: 90px;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }
      &-right {
        height: 100%;
        margin-right: 20px;
        position: absolute;
        top: 0;
        margin-left: 110px;
        border-bottom: 1px solid #eef2f7;
        @include mq('phone') {
          border: 0;
        }
        &-title {
          h5 {
            margin-top: 10px;
            color: $color-navy;
            font-size: $font-size;
          }
        }
        &-subtitle {
          position: relative;
          font-size: $font-size-small;
          margin-top: 5px;
          &-icon {
            width: 14px;
            height: 14px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            color: $color-soft-white;
          }
          &-airplane {
            position: absolute;
            height: 19px;
            width: 19px;
            top: -1px;
            margin-left: 20px;
            font-size: $font-size-small-mobile;
            background-color: $color-blue;
            color: white;
            padding: 3px;
          }
          span:nth-child(2) {
            position: relative;
            color: $color-soft-white;
            left: 19px;
            padding-right: 10px;
          }
          span:nth-child(3) {
            left: 15px;
            position: relative;
            font-weight: bold;
            font-size: $font-size-small-mobile;
            background-color: $color-yellow;
            padding: 2px 4px;
            color: white;
          }
        }
        &-description {
          span {
            width: 100%;
            display: inline-block;
            margin-top: 8px;
            margin-right: 40px;
            font-size: $font-size-small-mobile;
            text-decoration: underline;
            color: $color-soft-white;
          }
        }
        &-button {
          a {
            position: absolute;
            top: 10px;
            right: 0;
            width: 40px;
            height: 100%;
            text-align: end;
            cursor: pointer;
            img {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
      &-big {
        &-button {
          background-color: $color-blue;
          height: 60%;
          @include mq('tablet') {
            height: 100%;
          }
        }
        &-arrow {
          display: none;
          @include mq('tablet') {
            display: block;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            right: 30px;
            width: 25px;
            height: 25px;
            color: white;
          }
          a {
            img {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
  }
}

.Support {
  @include mq('tablet') {
    margin-top: $margin-between-desktop;
  }
  &-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mq('tablet') {
      flex-direction: row;
    }
  }
  &-items-item {
    margin-top: $gap;
    @include mq('tablet') {
      width: 40%;
    }
    &-icon {
      svg {
        width: 50px;
        height: 40px;
        color: $color-navy;
        @include mq('tablet') {
          width: 60px;
          height: 60px;
        }
      }
    }
    &-main {
      margin-left: 80px;
      @include mq('tablet') {
        margin-left: 100px;
      }
      &-title {
        font-weight: bold;
        span:first-child {
          margin-bottom: 8px;
        }
        span {
          display: block;
        }
        &-number {
          font-size: $font-size-big;
          color: $color-blue;
        }
        &-text {
          font-size: 25px;
          color: $color-navy;
        }
      }
      &-description {
        margin-top: $gap;
        line-height: 1.4;
        font-size: $font-size-small;
        color: $color-soft-white;
        width: 90%;
        span {
          color: $color-blue;
          text-decoration: underline;
        }
        @include mq('tablet') {
          width: 80%;
        }
      }
    }
  }
}

.Discover {
  margin-top: $margin-between-desktop;
  &-title {
    font-size: $font-size-big;
    text-align: center;
    color: $color-navy;
  }
  &-items {
    margin-top: $margin-between-desktop;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq('tablet') {
      flex-direction: row;
      align-items: initial;
    }
    &-item {
      position: relative;
      box-shadow: 0 50px 100px rgba(black, 0.3);
      @include mq('tablet') {
        width: 25%;
        margin-top: initial;
      }
      &:last-child {
        background-color: $color-blue;
      }
      &-cover {
        position: relative;
        width: 270px;
        height: 270px;
        &-img {
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          width: 270px;
          height: 270px;
        }
        &:before {
          z-index: 1;
          content: '';
          position: absolute;
          background-color: rgba($color-blue, 0.3);
          width: 270px;
          height: 270px;
        }
      }

      & + & {
        margin-top: $margin-between-mobile-small;
        @include mq('tablet') {
          margin-left: 20px;
          margin-top: initial;
        }
      }
      &-text {
        z-index: 2;
        position: absolute;
        bottom: 0;
        padding: $gap;
        &-title {
          h5 {
            font-size: 1.8em;
            color: white;
          }
        }
        &-description {
          &-arrow {
            width: 18px;
            height: 18px;
            color: white;
            position: absolute;
            top: -80;
            right: 30;
          }
          p {
            margin-top: 15px;
            color: white;
            font-size: $font-size-small;
            line-height: 1.3;
          }
        }
      }
    }
  }
}

.Aparthotels {
  margin-top: $margin-between-desktop;
  &-items {
    display: flex;
    flex-direction: column;
    margin-top: $margin-between-desktop;

    @include mq('tablet') {
      flex-direction: row;
    }
    &-item {
      background-color: white;
      box-shadow: 0 30px 60px rgba(rgb(82, 82, 82), 0.15);
      & + & {
        margin-top: $margin-between-mobile-small;
        @include mq('tablet') {
          margin-top: 0;
        }
      }
      &-top {
        padding: 15px;
        position: relative;
        &-label {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          background-color: $color-blue;
          right: 0;
          bottom: 30;
          width: auto;
          height: 40px;
          color: white;
          span:first-child {
            padding-left: 10px;
            font-weight: bold;
            font-size: $font-size;
            margin-right: 5px;
          }
          span:last-child {
            padding-right: 10px;
            font-size: $font-size-small-mobile;
          }
        }
        &-img {
          width: 100%;
          height: 200px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          &:before {
            content: '';
            position: absolute;
            top: 15;
            left: 15;
            width: calc(100% - 30px);
            height: 200px;
            background: linear-gradient(
              232.69deg,
              #01abee96 0%,
              rgba(196, 196, 196, 0) 115.64%
            );
          }
        }
      }
      &-bottom {
        padding-left: $gap;
        padding-right: 10px;
        padding-bottom: $gap;
        &-subtitle {
          span:last-child {
            background-color: white;
            color: $color-soft-white;
            text-decoration: underline;
          }
        }
        &-description {
          font-size: $font-size-small;
          color: black;
          p {
            margin-top: 25px;
            color: inherit;
            line-height: 1.4;
          }
        }
      }
      @include mq('tablet') {
        width: 25%;
        & + & {
          margin-left: 20px;
        }
      }
    }
  }
  &-button {
    position: relative;
    height: 50px;
    display: block;
    width: 50%;
    background-color: $color-navy;
    margin-top: $margin-between-mobile-small;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-right: $gap;
    font-size: $font-size-small;
    @include mq('tablet') {
      width: 20%;
      margin-top: $margin-between-desktop;
      font-size: $font-size;
    }
    &-arrow {
      display: none;
      @include mq('tablet') {
        display: block;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
      }

      a {
        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

.Wheretostay {
  position: relative;
  margin-top: $margin-between-mobile-small;
  border-top: 1px solid transparent;
  @include mq('tablet') {
    margin-top: $margin-between-desktop;
  }
  &:before {
    @include mq('tablet') {
      content: '';
      width: 1140px;
      height: 1px;
      background-color: $color-soft-white;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }
  }
  &-title {
    margin-top: $margin-between-mobile-small;
    color: $color-navy;
    @include mq('tablet') {
      margin-top: $margin-between-desktop;
    }
  }
  &-content {
    margin-top: $gap;
    &-subtitle {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      line-height: 1.3;
      color: $color-soft-white;
      font-weight: bold;
      @include mq('tablet') {
        width: 60%;
      }
    }
    &-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      text-align: center;
      cursor: pointer;

      .wheretostay-button {
        background-color: $color-navy;
        color: white;
        font-weight: initial;
      }
      &-button {
        & + & {
          margin-left: $gap;
        }
        font-size: $font-size-small-mobile;
        @include mq('tablet') {
          font-size: $font-size-small;
        }
      }
    }
    &-reviews {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: $gap;
      &-review {
        margin-top: $gap;
        margin-right: 10px;
        @include mq('tablet') {
          margin-right: 50px;
          margin-top: 50px;
        }
        &-title {
          color: $color-navy;
        }
        &-note {
          font-size: $font-size-small;
          color: $color-soft-white;
          margin-top: 10px;
        }
      }
    }
  }
}

.Signup {
  background: $color-navy url(img/alt_back.jpg) no-repeat center center / cover;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: $margin-between-desktop;
  @include mq('tablet') {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &-title {
    font-size: $font-size-big;
    @include mq('tablet') {
      font-size: $font-size-bigger;
    }
  }
  &-note {
    margin-top: 20px;
    color: $color-soft-white;
  }
  &-inputarea {
    position: relative;
    font-size: $font-size-small;
    margin-top: 30px;
    &-icon {
      left: initial;
      top: initial;
      transform: initial;
      margin-left: 10px;
      margin-top: 10px;
      width: 25px;
      height: 18px;
      @include mq('tablet') {
        top: 48%;
        transform: translateY(-50%);
      }
    }
    &-input {
      min-width: initial;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      width: 80%;
      padding-left: 45px;
      @include mq('tablet') {
        width: 30%;
      }
    }
    &-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-top: 20px;
    }
  }
  &-checkboxarea {
    justify-content: center;
    display: inline-flex;
    margin-top: $gap;
    &:before {
      content: '';
      width: 14px;
      height: 14px;
      border: 2px solid white;
      margin-right: 10px;
      @include mq('tablet') {
        height: 1em;
        width: 1em;
      }
    }
    &-input {
      opacity: 0;
      margin-right: 10px;
    }
    .icon {
      left: 0;
    }
    &-note {
      font-size: $font-size-small-mobile;
      @include mq('tablet') {
        font-size: $font-size;
      }
    }
  }
}

.Recommendation {
  &-content {
    &-buttons {
      &-button {
        cursor: pointer;
        & + & {
          margin-left: $gap;
        }
        font-size: $font-size-small-mobile;
        @include mq('tablet') {
          font-size: $font-size-small;
        }
      }
    }
  }
}
